/build
!/build/
/build/*
!/build/rpms/
/build/rpms/*
!/build/rpms/kernel-6.18/
/build/rpms/kernel-6.18/*
!/build/rpms/kernel-6.18/bottlerocket-kernel-6.18-[0-9]*.x86_64.rpm
*.tar.*
*.tgz
**/target/
**/vendor/
/.cargo
/.gomodcache
/html
/Infra.toml
/Test.toml
/testsys.kubeconfig
/*.pem
/keys
/roles
/sbkeys/**/
/Licenses.toml
/licenses
*.run
/tests
Twoliter.override
packages/*/*.asc
packages/*/*-asc.txt
packages/*/*.sig
packages/*/*-sig.txt
packages/*/*.sign
!packages/*/gpgkey-*.asc
